.star-border-wrapper {
  position: relative;
  display: inline-block;
}

.star-border-svg {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: visible;
}

.star-border-path {
  vector-effect: non-scaling-stroke;
}

.star-border-content {
  position: relative;
  z-index: 1;
}

@keyframes dash {
  to {
    stroke-dashoffset: -15;
  }
}

